In [3]:
# load dataset
import pandas as pd
import numpy as np
caf = pd.read_csv ("http://raptor.kent.ac.uk/~ds756/Data/caffeine.csv")

In [7]:
caf

                           drink      Volume  Calories  Caffeine    type
0                   Costa Coffee  256.993715         0       277  Coffee
1    Coffee Friend Brewed Coffee  250.191810         0       145  Coffee
2             Hell Energy Coffee  250.191810       150       100  Coffee
3             Killer Coffee (AU)  250.191810         0       430  Coffee
4                   Nescafe Gold  250.191810         0        66  Coffee
..                           ...         ...       ...       ...     ...
605     Pep Talk Sparkling Water  354.882000         0        55   Water
606          Polar Seltzer Water  354.882000         0         0   Water
607       Yerbae Sparkling Water  354.882000         0       100   Water
608                  Tonic Water  295.735000       110         0   Water
609    MiO Energy Water Enhancer  236.588000         0        60   Water

[610 rows x 5 columns]

In [5]:
caf.type.unique()

array(['Coffee', 'Energy Drinks', 'Energy Shots', 'Soft Drinks', 'Tea',
       'Water'], dtype=object)

In [10]:
drinks = caf.type.unique()

In [13]:
for drink in drinks:
    b = caf[caf.type == drink]
    print(drink,b.Caffeine.mean())

Coffee 200.58959537572255
Energy Drinks 147.8675799086758
Energy Shots 193.41666666666666
Soft Drinks 33.67777777777778
Tea 55.86363636363637
Water 53.73076923076923

In [12]:

for drink in drinks:
    b = caf[caf.type == drink].Caffeine
    print(drink,b.mean())

Coffee 200.58959537572255
Energy Drinks 147.8675799086758
Energy Shots 193.41666666666666
Soft Drinks 33.67777777777778
Tea 55.86363636363637
Water 53.73076923076923

In [14]:
caf[["Caffeine","type"]].groupby("type").mean()

                 Caffeine
type
Coffee         200.589595
Energy Drinks  147.867580
Energy Shots   193.416667
Soft Drinks     33.677778
Tea             55.863636
Water           53.730769

In [15]:
caf[["Caffeine","type"]]

     Caffeine    type
0         277  Coffee
1         145  Coffee
2         100  Coffee
3         430  Coffee
4          66  Coffee
..        ...     ...
605        55   Water
606         0   Water
607       100   Water
608         0   Water
609        60   Water

[610 rows x 2 columns]

In [22]:
z=caf[["Caffeine","type"]].groupby("type").mean()

In [21]:
caf.iloc[:, -1]

0      Coffee
1      Coffee
2      Coffee
3      Coffee
4      Coffee
        ...
605     Water
606     Water
607     Water
608     Water
609     Water
Name: type, Length: 610, dtype: object

In [25]:
z.loc["Energy Drinks": "Tea", :]

                 Caffeine
type
Energy Drinks  147.867580
Energy Shots   193.416667
Soft Drinks     33.677778
Tea             55.863636

In [27]:
z.iloc[:,:]]

                 Caffeine
type
Coffee         200.589595
Energy Drinks  147.867580
Energy Shots   193.416667
Soft Drinks     33.677778
Tea             55.863636
Water           53.730769