# Lecture 3

## Comprehensions

### option 1

In [4]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
result = []

for s in strings:
    if len(s) > 2:
        result.append(s.upper())

print(result)

['BAT', 'CAR', 'DOVE', 'PYTHON']

### option 2

### in List

In [8]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
print([s.upper() for s in strings if len(s) > 2])

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [13]:
iterator = (s.upper() for s in strings if len(s)> 2)

In [19]:
try: 
    print(next(iterator))
except StopIteration:
    print("Done!")

Done!

### in Set

In [4]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
unique_lengths = {len(s) for s in strings}
print(unique_lengths)

{1, 2, 3, 4, 6}

### in dict

In [8]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python'] 
mapping = {value : index for index, value in enumerate(strings)}
print(mapping)

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [8]:
mapping =  {value: index for index, value in zip (range(len(strings)), strings)} # using zip to build dict

mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [9]:
mapping ["bat"]

2

### nested

In [10]:
# list of lists
all_names = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]
# list of tuples
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [2]:
names_of_interest = [name for names in all_names
                     for name in names if name.count('e') >= 2]
print(names_of_interest)

['Steven']

## slicing

In [12]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
print(seq[1:5])
# [start: stop]

[2, 3, 7, 5]

In [15]:
print(seq[:5]) # [7, 2, 3, 7, 5] -> start = 1 <default>, stop = 5

print(seq[3:]) # [7, 5, 6, 0, 1] -> start = 3, stop = end of the sequence <default>

# 0 = start
# -1 represents the last value of the sequence => reverse start it

print(seq[-4:]) # [5, 6, 0, 1]

# useless
print(seq[-6:-2]) # [3, 7, 5, 6]

print(seq[-1:-6]) # it's also not worked, if you want the list of last and circle to the 1 2, 3

[7, 2, 3, 7, 5]
[7, 5, 6, 0, 1]
[5, 6, 0, 1]
[3, 7, 5, 6]
[]

#### comparing with java

##### java
```java
int[] seq = {1, 2, 3, 4}; 
int last = seq[seq.length - 1];
```

##### python
```python
seq = [1, 2, 3, 4] 
last = seq[-1]
```