# Class 9

## Library

In [1]:
import pandas as pd

## Read dataset

In [2]:
df = pd.read_csv("http://raptor.kent.ac.uk/~ds756/Data/heart.csv")

## Pre

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 918 entries, 0 to 917
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             918 non-null    int64
 1   Sex             918 non-null    object
 2   ChestPainType   918 non-null    object
 3   RestingBP       918 non-null    int64
 4   Cholesterol     918 non-null    int64
 5   FastingBS       918 non-null    int64
 6   RestingECG      918 non-null    object
 7   MaxHR           918 non-null    int64
 8   ExerciseAngina  918 non-null    object
 9   Oldpeak         918 non-null    float64
 10  ST_Slope        918 non-null    object
 11  HeartDisease    918 non-null    int64
dtypes: float64(1), int64(6), object(5)
memory usage: 86.2+ KB

In [4]:
df.isna().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [5]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Task 1

Using the dataframe idiomatically, compute the sum of each feature.
Note, this only makes sense for some features. Skip over the ones for
which sum is not defined; use the Pandas mechanism for exclusion. The
solution should be 1 line.

In [6]:
sum_each_feature = df.select_dtypes(['float64', 'int64']).sum()
sum_each_feature

Age              49123.0
RestingBP       121540.0
Cholesterol     182498.0
FastingBS          214.0
MaxHR           125591.0
Oldpeak            814.6
HeartDisease       508.0
dtype: float64

## Task 2

Compute the sum of the sums of the features. Your solution should be 1 line.

In [7]:
sum_feature = sum(sum_each_feature.to_list())
sum_feature

480288.6

## Task 3

The mode is a measure of centre of a set (as are mean and median). 
It is the element with the highest frequency.

```python
mode ([4, 4, 1, 5, 5, 5, 7]) = 5 # There are more instances of 5
```

Implement a func/on that computes the mode of a column. Name it ComputeMode. It will be invoked as ComputeMode (your_data_frame[“column name”]). You will have to do something to
the column before you call your function to ensure that it runs in linear time.

In [8]:
import time

def ComputeMode1(col):
  """Compute the mode of a column."""
  counter = dict()
  max = 0
  for i in col:
    if i in counter:
      counter[i] += 1
    else:
      counter[i] = 1

    if counter[i] > max:
      max = counter[i]
      mode = i
  return mode

In [9]:
sorted_col = sorted(df['Age'].tolist())
start_time = time.time()
print(ComputeMode1(sorted_col))
print("--- %s seconds ---" % (time.time() - start_time))

54
--- 0.0008673667907714844 seconds ---

### version 2

In [10]:
def ComputeMode2(col):
    """Compute the mode of a sorted column."""
    mode = col[0]
    current = col[0]
    current_count = 1
    max_count = 1
    
    # Traverse the sorted column
    for i in range(1, len(sorted_col)):
        if sorted_col[i] == current:
            current_count += 1
        else:
            current = sorted_col[i]
            current_count = 1
        
        if current_count > max_count:
            max_count = current_count
            mode = current

    return mode

In [11]:
start_time = time.time()
print(ComputeMode2(sorted_col))
print("--- %s seconds ---" % (time.time() - start_time))

54
--- 0.0006589889526367188 seconds ---

## Task 4

Compute the rate of heart disease by age.

In [12]:
heart_disease_rate_by_age = df.groupby('Age')['HeartDisease'].mean()
for age, rate in heart_disease_rate_by_age.items():
    print(f"Age: {age}, Rate: {rate}")

Age: 28, Rate: 0.0
Age: 29, Rate: 0.0
Age: 30, Rate: 0.0
Age: 31, Rate: 0.5
Age: 32, Rate: 0.4
Age: 33, Rate: 0.5
Age: 34, Rate: 0.2857142857142857
Age: 35, Rate: 0.36363636363636365
Age: 36, Rate: 0.3333333333333333
Age: 37, Rate: 0.09090909090909091
Age: 38, Rate: 0.6875
Age: 39, Rate: 0.13333333333333333
Age: 40, Rate: 0.46153846153846156
Age: 41, Rate: 0.25
Age: 42, Rate: 0.16666666666666666
Age: 43, Rate: 0.4583333333333333
Age: 44, Rate: 0.3157894736842105
Age: 45, Rate: 0.16666666666666666
Age: 46, Rate: 0.5416666666666666
Age: 47, Rate: 0.5789473684210527
Age: 48, Rate: 0.4838709677419355
Age: 49, Rate: 0.5238095238095238
Age: 50, Rate: 0.56
Age: 51, Rate: 0.42857142857142855
Age: 52, Rate: 0.5277777777777778
Age: 53, Rate: 0.45454545454545453
Age: 54, Rate: 0.45098039215686275
Age: 55, Rate: 0.5853658536585366
Age: 56, Rate: 0.6578947368421053
Age: 57, Rate: 0.6842105263157895
Age: 58, Rate: 0.6666666666666666
Age: 59, Rate: 0.6571428571428571
Age: 60, Rate: 0.75
Age: 61, Rate: 0.8387096774193549
Age: 62, Rate: 0.7142857142857143
Age: 63, Rate: 0.7666666666666667
Age: 64, Rate: 0.6818181818181818
Age: 65, Rate: 0.7142857142857143
Age: 66, Rate: 0.5384615384615384
Age: 67, Rate: 0.8
Age: 68, Rate: 0.6
Age: 69, Rate: 0.7692307692307693
Age: 70, Rate: 0.8571428571428571
Age: 71, Rate: 0.4
Age: 72, Rate: 0.75
Age: 73, Rate: 1.0
Age: 74, Rate: 0.7142857142857143
Age: 75, Rate: 0.6666666666666666
Age: 76, Rate: 0.5
Age: 77, Rate: 1.0

## Task 5

Create a new column, called “AgeNorm,” that is the age column divided by the max age.

In [13]:
df['AgeNorm'] = df['Age'] / df['Age'].max()

In [14]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,AgeNorm
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0,0.519481
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1,0.636364
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0,0.480519
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1,0.623377
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0,0.701299
...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1,0.584416
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1,0.883117
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1,0.740260
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1,0.740260
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0,0.493506